
<div class="container-fluid">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <a href="#collapse1" data-toggle="collapse" data-parent="#acordion" aria-expended="true" aria-controls="collapse1">
                <h3 class="box-title"><i class="icon-list-numbered"></i>Bandeja Registro de Notas</h3>
            </a>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Fecha Inicio</label>
                        <input type="text" id="dpFechaInicio" class="form-control">
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Fecha Fin</label>
                        <input type="text" id="dpFechaFin" class="form-control">
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Capacitador</label>
                        @{
                            if (ViewBag.CAPACITADOR != null)
                            {
                                <select name="sede" id="capacitador" class="form-control">
                                    @foreach (var item in ViewBag.CAPACITADOR)
                                    {
                                        <option value="@item.Id" onchange="">@item.Value</option>
                                    }
                                </select>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Curso</label>
                        @{
                            if (ViewBag.CURSO != null)
                            {
                                <select name="sede" id="curso" class="form-control">
                                    @foreach (var item in ViewBag.CURSO)
                                    {
                                        <option value="@item.Id" onchange="">@item.Value</option>
                                    }
                                </select>
                            }
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Activo</label>
                        <select name="evento" id="activo" class="form-control">
                            <option value="-1">--Todos--</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                    <div class="form-group">
                        <label for="">.</label>
                        <button class="btn-warning boton form-control" onclick="Filtrar(1)">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="RenderBandejaRegistroNotas">
        @Html.Partial("_BandejaRegistroNotasPartial")
    </div>        
    </div>

    @section Scripts{
        <script>
            function Filtrar(index) {
                data = {
                    fechaInicio: $("#dpFechaInicio").val(),
                    fechaFin: $("#dpFechaFin").val(),
                    capacitadorId: $("#capacitador").val(),
                    cursoId: $("#curso").val(),
                    activoId: $("#activo").val(),
                    Index: index,
                    Take: $("#take").val()
                };
                $.ajax({
                    cache: false,
                    dataType: 'html',
                    method: 'POST',
                    data: data,
                    url: '/RegistroNotas/Filtrar',
                    success: function (html) {
                        $("#RenderBandejaRegistroNotas").html(html);
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }

            $(document).ready(function () {
                $("#dpFechaInicio").datepicker();
                $("#dpFechaFin").datepicker();
            });

        </script>
    }
