
@{
    var listaRegistro = ViewBag.REGISTRONOTAS;
    var NroClases = ViewBag.REGISTRONOTAS[0].EmpleadoAsistencia.Count;
}
<div class="container-fluid">


    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <a href="#collapse1" data-toggle="collapse" data-parent="#acordion" aria-expended="true" aria-controls="collapse1">
                <h3 class="box-title"><i class="icon-book-open"></i>Datos del Curso</h3>
            </a>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1">
            <div class="row">
                <div class="col-12 col-md-6">
                    <strong> Capacitador: </strong>
                    <label> @ViewBag.REGISTRONOTAS[0].Capacitador</label>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <strong> Fecha Inicio: </strong>
                    <label> @ViewBag.REGISTRONOTAS[0].FechaInicioCurso.ToString("dd-MMMM")</label>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <strong> Fecha Fin: </strong>
                    <label> @ViewBag.REGISTRONOTAS[0].FechaFinCurso.ToString("dd-MMMM")</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <strong> Cupos Disponibles: </strong>
                    <label> @(@ViewBag.REGISTRONOTAS[0].NroCupos - @listaRegistro.Count) </label>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <strong> Total de Alumnos: </strong>
                    <label> @listaRegistro.Count</label>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-warning mt-2">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="text-align:center">
                    <tr>
                        <th style="display:none">EmpleadoCursoId</th>
                        <th style="display:none">RecordStatusEmpleadoCurso</th>
                        <th>Empleado</th>
                        @foreach (var item in ViewBag.REGISTRONOTAS[0].EmpleadoAsistencia)
                        {
                            <th>@item.FechaClase.ToString("dd MMM") </th>
                        }
                        <th>Nota Cuantitativa</th>
                        <th>Nota Cualitativa</th>
                        <th>Condición</th>
                        <th>Observación</th>
                    </tr>
                </thead>
                <tbody id="NotasAlumno">
                    @foreach (var registro in listaRegistro)
                    {
                        <tr class="info-alumno" id="info-alumno-@registro.EmpleadoCursoId">
                            <td style="display:none">@registro.EmpleadoCursoId</td>
                            <td style="display:none" id="Clase-RecordStatus">1</td>
                            <td>@registro.NombreCompletoEmpleado</td>
                            @foreach (var asistencia in registro.EmpleadoAsistencia)
                            {
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@asistencia.EmpleadoAsistenciaId" @(@asistencia.Asistio == 2 ? "checked" : "" ) onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                            <label class="custom-control-label" for="@asistencia.EmpleadoAsistenciaId"></label>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td><input type="text" id="@registro.EmpleadoCursoId-Nota" value="@registro.Nota" style="width:90px; text-align:center;" class="form-control nota" onkeyup="ClaseChanged($(this).parent().parent())" /></td>
                            <td>
                                <input type="button" name="name" class=" @( @registro.Taller == null ? "btn boton-table-warning" :  @registro.Taller == "Eficiente" ? "btn boton-table-success" : "btn boton-table-danger" )" value="@( @registro.Taller == null ? "Por Iniciar" :  @registro.Taller == "Eficiente" ? "Satisfactorio" : "Deficiente" )" onclick="ShowTaller(@registro.EmpleadoCursoId)" />
                            </td>
                            <td>
                                <select class="custom-select" id="@registro.EmpleadoCursoId-Condicion" onchange="ClaseChanged($(this).parent().parent())">
                                    <option value="-1" @(@registro.CondicionId == -1 ? "selected" : "" )>--Seleccionar--</option>
                                    <option value="1" @(@registro.CondicionId == 1 ? "selected" : "" )>Aprobado</option>
                                    <option value="2" @(@registro.CondicionId == 2 ? "selected" : "" )>Desaprobado</option>
                                    <option value="3" @(@registro.CondicionId == 3 ? "selected" : "" )>Por Iniciar</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="@registro.EmpleadoCursoId-Obs" value="@registro.Observacion" class="form-control obs" onkeyup="ClaseChanged($(this).parent().parent())" />
                            </td>
                        </tr>
                        <tr class="info-taller" id="info-taller-@registro.EmpleadoCursoId">
                            <td id="@registro.EmpleadoCursoId" class="grillataller" colspan="7">
                                <div id="taller" class="row subtable">
                                    <div class="col-12">
                                        <table style="width:100%;">
                                            <thead style="text-align:center">
                                                <tr>
                                                    <th style="display:none">EmpleadoTallerId</th>
                                                    <th>Preguntas</th>
                                                    <th>No Evidencia</th>
                                                    <th>Pocas Veces</th>
                                                    <th>Algunas Veces</th>
                                                    <th>Muchas Veces</th>
                                                    <th>Siempre</th>
                                                    <th style="display:none">RecordStatusTaller</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                @foreach (var Taller in @registro.EmpleadoTaller)
                                                {
                                                <tr>
                                                    <td  style="display:none">@Taller.EmpleadoTallerId</td>
                                                    <td>@Taller.Pregunta</td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="@Taller.EmpleadoTallerId-P1" name="@Taller.EmpleadoTallerId" @(@Taller.Valor == "1" ? "checked" : "" ) value="1" onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                                                <label class="custom-control-label" for="@Taller.EmpleadoTallerId-P1"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-radio">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="@Taller.EmpleadoTallerId-P2" name="@Taller.EmpleadoTallerId" @(@Taller.Valor == "2" ? "checked" : "" ) value="2" onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                                                <label class="custom-control-label" for="@Taller.EmpleadoTallerId-P2"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="@Taller.EmpleadoTallerId-P3" name="@Taller.EmpleadoTallerId" @(@Taller.Valor == "3" ? "checked" : "" ) value="3" onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                                                <label class="custom-control-label" for="@Taller.EmpleadoTallerId-P3"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="@Taller.EmpleadoTallerId-P4" name="@Taller.EmpleadoTallerId" @(@Taller.Valor == "4" ? "checked" : "" ) value="4" onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                                                <label class="custom-control-label" for="@Taller.EmpleadoTallerId-P4"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="@Taller.EmpleadoTallerId-P5" name="@Taller.EmpleadoTallerId" @(@Taller.Valor == "5" ? "checked" : "" ) value="5" onchange="ClaseChanged($(this).parent().parent().parent().parent())">
                                                                <label class="custom-control-label" for="@Taller.EmpleadoTallerId-P5"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="display:none" id="Clase-RecordStatus">1</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="col-2">
            <button class="btn btn-primary btn-block" onclick="Grabar()" >Grabar</button>
        </div>
    </div>
</div>

@section Scripts{
<script>

$(document).ready(function () {
    $('.grillataller').hide();
});

function ShowTaller(EmpleadoCursoId) {
        if ($('#' + EmpleadoCursoId).css("display") == "none") {
            $('#' + EmpleadoCursoId).show();
        }
        else {
            $('#' + EmpleadoCursoId).hide();
        }       
    }

function Grabar() {

    var filas_InfoAlumno = $('#NotasAlumno > .info-alumno').length;
    var listaRegistroNotas = new Array();

    for (var i = 0; i < filas_InfoAlumno; i++) {

        var _EmpleadoCursoId = $($('#NotasAlumno > .info-alumno')[i]).children("td").html();
        var infoAlumno = {
            EmpleadoCursoId: _EmpleadoCursoId,
            nota: $($('#NotasAlumno > .info-alumno')[i]).find('input:text.nota').val(),
            condicion: $($('#NotasAlumno > .info-alumno')[i]).find('option:selected').val(),
            observacion: $($('#NotasAlumno > .info-alumno')[i]).find('input:text.obs').val(),
            RecordStatus: $($('#NotasAlumno > .info-alumno')[i]).find('#Clase-RecordStatus').html(),
            ListaAsistencias: new Array(),
            ListaTaller: new Array()
        };

        var NroAsistencias = $($('#NotasAlumno > .info-alumno')[i]).find('input:checkbox').length;

        for (var asist = 0; asist < NroAsistencias; asist++) {
            var asistencias = {
                EmpleadoAsistenciaId: $($($('#NotasAlumno > .info-alumno')[i]).find('input:checkbox')[asist]).attr('id'),
                EmpleadoCursoId: _EmpleadoCursoId,
                Asistio: $($($('#NotasAlumno > .info-alumno')[i]).find('input:checkbox')[asist]).is(':checked')
            };   
            infoAlumno.ListaAsistencias.push(asistencias);
        }

        var filas_TallerAlumno = $('#NotasAlumno > #info-taller-' + _EmpleadoCursoId + ' table tbody tr').length;
    
        for (var preg = 0; preg < filas_TallerAlumno; preg++) {

            var _EmpleadoTallerId = $($('#NotasAlumno > #info-taller-' + _EmpleadoCursoId + ' table tbody tr')[preg]).children("td").html();
            var pregunta = {
                EmpleadoTallerId: _EmpleadoTallerId,
                EmpleadoCursoId: _EmpleadoCursoId,
                Valor: $($($('#NotasAlumno > #info-taller-' + _EmpleadoCursoId + ' table tbody tr')[preg]).find('input[name=' + _EmpleadoTallerId + ']:checked')).val(),
                RecordStatus: $($('#NotasAlumno > #info-taller-' + _EmpleadoCursoId + ' table tbody tr')[preg]).find('#Clase-RecordStatus').html()
            };
            infoAlumno.ListaTaller.push(pregunta);
        }

        listaRegistroNotas.push(infoAlumno);
    }

    console.log(listaRegistroNotas);
}

function ClaseChanged(tr) {
    if ($(tr).children("#Clase-RecordStatus").html() == 1)
        $(tr).children("#Clase-RecordStatus").html(3);
}
  
</script>
}





