<style>
    .boton-chart {
        border-color: #d2d6de;
        height: 38px;
        padding: 0.375rem 0.75rem;
        color: white;
        cursor: pointer;
        outline: none;
        margin: 10px;
    }

    .button-inactive {
        background-color: #8f8f8f;
    }

    .button-active {
        background-color: #efb44a;
    }

    .pagination-active span {
        color: #f39c12 !important;
    }

    #containers img, #containers div {
        width: 100%;
    }

    .headerOnTop {
        text-align: center;
        border-left: 2px solid #dee2e6;
        border-right: 2px solid #dee2e6;
    }
    #Loading {
        background-color: rgba(0, 0, 0, 0.60);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 9999;
    }

    #Loading > img {
        width: 200px;
    }

    /*.salones table{
        width:80%;
        margin: 20px 10%;
    }
    .salones table tbody{
        font-size:18px;
    }*/
    .Suspendido {
        background-color: #989898;
        pointer-events: none;
    }
</style>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="box box-default mt-2 col-12" id="acordion">
            <div class="box-header with-border" id="heading1" onclick="ColapsarFiltro('collapse1')">
                <h3 class="box-title" style="cursor:pointer;"><i class="icon-menu"></i> Programación de Cursos </h3>
            </div>
            <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Sede</label>
                            @if (ViewBag.SEDES != null)
                            {
                                <select name="sede" id="sede" class="form-control" onchange="ChangeSelect(this);">
                                    @foreach (var item in ViewBag.SEDES)
                                    {
                                        <option value="@item.Id">@item.Value</option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Evento</label>
                            <select name="evento" id="evento" class="form-control" onchange="ChangeSelect(this)">
                                <option value="-1">--Todos--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Curso</label>
                            <select name="curso" id="curso" class="form-control">
                                <option value="-1">--Todos--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                        <div class="form-group">
                            <label for="">.</label>
                            <button class="btn-warning boton form-control" onclick="FiltrarCursos()">
                                <i class="fa fa-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box box-default mt-2 col-12" id="acordion">
            <div class="box-header with-border" id="heading1" onclick="ColapsarFiltro('collapse2')">
                <h3 class="box-title" style="cursor:pointer;">Cursos Programados </h3>
            </div>
            <div id="collapse2" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
                <div class="row">
                    <div class="col-12">
                        <div id="calendar" class="calendar-custom mt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row d-flex justify-content-center">
        <div class="box-default mt-2 col-12 col-md-11" id="calendarData" style="overflow:hidden;height:0px;">
            <div class="row">
                <div class="box-header with-border col-12" id="heading1" onclick="CloseCursoPannel()">
                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-calendar"></i> Detalles del Curso </h3>
                </div>
                <div id="collapse2" class="box-body collapse show col-12" aria-labelledby="heading1" style="overflow:hidden;">
                    <div class="row">
                        <div class="col-12">
                            <div style="display:none;"><div id="Curso-RecordType"></div><div id="Curso-RecordStatus"></div><div id="Curso-CursoProgramadoId"></div></div>
                            <div class="row d-flex flex-wrap">
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2" style="display:inline-block;">
                                    <label for="">Sede</label>
                                    @if (ViewBag.SEDES != null)
                                     {
                                         <select name="sede" id="sede-detalle" class="form-control" onchange="ChangeSelect(this); CursoChanged();">
                                         @foreach (var item in ViewBag.SEDES)
                                            {
                                                <option value="@item.Id">@item.Value</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2" style="display:inline-block;">
                                    <div class="form-group">
                                        <label for="">Evento</label>
                                        <select name="evento" id="evento-detalle" class="form-control" onchange="ChangeSelect(this);CursoChanged();">
                                            <option value="-1">--Todos--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2" style="display:inline-block;">
                                    <div class="form-group">
                                        <label for="">Curso</label>
                                        <select name="curso" id="curso-detalle" class="form-control" onchange="CursoChanged();">
                                            <option value="-1">--Todos--</option>
                                        </select>
                                    </div>
                                </div>                          
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2" style="display:inline-block;">
                                    <div class="form-group">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" id="F-inicio" onchange="CursoChanged();" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2" style="display:inline-block;">
                                    <div class="form-group">
                                        <label for="">Fecha Fin</label>
                                        <input type="date" id="F-fin" onchange="CursoChanged();" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 col-xl-2">
                                    <label>.</label>
                                    <button class="btn-warning boton form-control" onclick="AddSalon()">
                                        Agregar Salón
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-12" id="Contenedor-Salones">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end mb-4 mr-2">
                        <div class="col-12 col-sm-4 col-lg-2">
                            <button class="btn-warning boton form-control" onclick="ValidateData()">
                                Guardar
                            </button>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2">
                            <button class="btn-warning boton form-control" onclick="DeleteCurso()">
                                Eliminar
                            </button>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2">
                            <button class="btn-warning boton form-control" onclick="CloseCursoPannel()">
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>



<div id="Salon-Base" style="display:none;">
    <div class="row salones">
        <div class="col-12">
            <table id="salon-0" class="table" m-0>
                <thead>
                    <tr>
                        <th style="display:none;">SalonId</th>
                        <th style="display:none;">RecordType</th>
                        <th style="display:none;">RecordStatus</th>
                        <th>Salón</th>
                        <th>Capacitador</th>
                        <th>Cupos</th>
                        <th>Agregar Clase</th>
                        <th>Eliminar Clase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="display:none;" id="Salon-SalonId">0</td>
                        <td style="display:none;" id="Salon-RecordType">1</td>
                        <td style="display:none;" id="Salon-RecordStatus">2</td>
                        <td>N° 1</td>
                        <td> 
                        <select class="custom-select" onchange="SalonChanged($(this).parent().parent())">
                        @{ 
                            if(ViewBag.CAPACITADOR != null)
                            {
                                foreach(var C in ViewBag.CAPACITADOR)
                                {
                                    <option value="@C.Id">@C.Value</option>
                                }
                            }
                        }     
                        </select></td>
                        <td><input onkeydown="SalonChanged($(this).parent().parent())" class="form-control" style="width:90px; text-align:center;" type="number"/></td>
                        <td>Agregar Clase</td>
                        <td>Eliminar</td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <table class="subtable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">ClaseId</th>
                                        <th style="display:none;">RecordType</th>
                                        <th style="display:none;">RecordStatus</th>
                                        <th>Hora Inicio </th>
                                        <th>Hora Fin </th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="display:none;">
    <table>       
        <tbody id="Clase-Base">
            <tr>
                <td style="display:none;" id="Clase-ClaseId">0</td>
                <td style="display:none;" id="Clase-RecordType">1</td>
                <td style="display:none;" id="Clase-RecordStatus">2</td>
                <td><input type="datetime-local" id="HoraInicio" onchange="ClaseChanged($(this).parent().parent())"/></td>
                <td><input type="datetime-local" id="HoraFin" onchange="ClaseChanged($(this).parent().parent())"/></td>
                <td onclick="DeleteClase($(this).parent())">Eliminar</td>
            </tr>
        </tbody>
    </table>
    
</div>

<div id="Loading" style="display:none;">
    <img src="~/Content/icons/loading.gif" />
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                lang: 'es',
                contentHeight: 600,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                dayClick: function (date, jsEvent, view) {
                    OpenCursoPannel();
                    NewCalendar(date);
                }
            });
            FiltrarCursos();
        });


        function ColapsarFiltro(id) {
            setTimeout(function () {
                var height = 10;

                for (i = 0; i < $("#" + id + " > .row").length; i++) {
                    height = height + $($("#" + id + " > .row")[i]).height();
                }

                if ($("#" + id).height() == 0) {
                    $("#" + id).animate({ "height": height + "px", "padding": "10px" }, 400);
                } else {
                    $("#" + id).animate({ "height": "0px", "padding": "0px 10px" }, 400);
                }
            }, 200);
        }

        function ChangeSelect(combo, callback) {
            if ($(combo).val() == -1) {
                switch ($(combo).attr("id")) {
                    case "sede": {
                        $("#evento").val(-1);
                        $("#curso").val(-1);
                        break;
                    }
                    case "evento": {
                        $("#curso").val(-1);
                        break;
                    }
                    case "sede-detalle": {
                        $("#evento-detalle").val(-1);
                        $("#curso-detalle").val(-1);
                        break;
                    }
                    case "evento-detalle": {
                        $("#curso-detalle").val(-1);
                        break;
                    }
                }
            } else {
                GetComboData($(combo).attr("id"), $(combo).val(), callback);
            }
        }

        function GetComboData(nombre, valor,callback) {
            var width = $(window).width();
            var height = $(window).height();
            $("#Loading").show().css("width", width + "px").css("height", height + "px");
            $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

            $.ajax({
                cache: false,
                dataType: 'json',
                method: 'POST',
                data: { combo: nombre.split("-")[0], valor: valor },
                url: '/ReporteAcademico/GetComboData',
                success: function (json) {
                    $("#Loading").hide();
                    switch (nombre) {
                        case "sede": {
                            $("#evento").html("");
                            if (json.length > 0) {
                                for (var a = 0; a < json.length; a++) {
                                    $("#evento").append($('<option>', {
                                        value: json[a].Id,
                                        text: json[a].Value
                                    }));
                                }
                            } else {
                                $("#evento").append($('<option>', {
                                    value: -1,
                                    text: "--Todos--"
                                }));
                            }
                            $("#curso").val(-1);
                            break;
                        }
                        case "evento": {
                            $("#curso").html("");
                            if (json.length > 0) {
                                for (var a = 0; a < json.length; a++) {
                                    $("#curso").append($('<option>', {
                                        value: json[a].Id,
                                        text: json[a].Value
                                    }));
                                }
                            } else {
                                $("#curso").append($('<option>', {
                                    value: -1,
                                    text: "--Todos--"
                                }));
                            }
                            break;
                        }
                        case "sede-detalle": {
                            $("#evento-detalle").html("");
                            if (json.length > 0) {
                                for (var a = 0; a < json.length; a++) {
                                    $("#evento-detalle").append($('<option>', {
                                        value: json[a].Id,
                                        text: json[a].Value
                                    }));
                                }
                            } else {
                                $("#evento-detalle").append($('<option>', {
                                    value: -1,
                                    text: "--Todos--"
                                }));
                            }
                            $("#curso-detalle").val(-1);
                            break;
                        }
                        case "evento-detalle": {
                            $("#curso-detalle").html("");
                            if (json.length > 0) {
                                for (var a = 0; a < json.length; a++) {
                                    $("#curso-detalle").append($('<option>', {
                                        value: json[a].Id,
                                        text: json[a].Value
                                    }));
                                }
                            } else {
                                $("#curso-detalle").append($('<option>', {
                                    value: -1,
                                    text: "--Todos--"
                                }));
                            }
                            break;
                        }
                    }
                    if (callback != undefined) {
                        callback();
                    }
                },
                error: function (error) {
                    $("#Loading").hide();
                    console.log(error);
                }
            });
        }

        function FiltrarCursos() {
            var Datemoment = $('#calendar').fullCalendar('getDate');

            data = {
                SedeId: $("#sede").val(),
                EventoId: $("#evento").val(),
                CursoId: $("#curso").val(),
                year: Datemoment.format().split("-")[0],
                month: Datemoment.format().split("-")[1]
            };

            var width = $(window).width();
            var height = $(window).height();
            $("#Loading").show().css("width", width + "px").css("height", height + "px");
            $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

            $.ajax({
                cache: false,
                dataType: 'json',
                method: 'POST',
                data: data,
                url: '/ProgramacionCursos/FiltrarCalendario',
                success: function (json) {
                    $("#Loading").hide();
                    CloseCursoPannel();
                    var events = [];
                    $.each(json, function (i, v) {
                        events.push({
                            id: v.CursoProgramadoId,
                            title: v.Curso,
                            start: moment(v.FechaInicio),
                            end: moment(v.FechaFin).add(1, "day"),
                            color: v.Color,
                            allDay: true
                        });
                    });
                    GenerateCalender(events);
                },
                error: function (error) {
                    $("#Loading").hide();
                    console.log(error);
                }
            });
        }

        function GenerateCalender(events) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                lang: 'es',
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    OpenCursoPannel();
                    GetCalendarEvent(calEvent.id);
                },
                dayClick: function (date, jsEvent, view) {
                    OpenCursoPannel();
                    NewCalendar(date);
                }
            });
        }

        function GetCalendarEvent(id) {
            var width = $(window).width();
            var height = $(window).height();
            $("#Loading").show().css("width", width + "px").css("height", height + "px");
            $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

            $.ajax({
                cache: false,
                dataType: 'json',
                method: 'POST',
                data: { id:id },
                url: '/ProgramacionCursos/GetCalendarEvent',
                success: function (json) {
                    $("#Curso-CursoProgramadoId").html(json.CursoProgramadoId);
                    $("#Curso-RecordType").html(json.RecordType);
                    $("#Curso-RecordStatus").html(json.RecordStatus);
                    $("#calendarData #F-inicio").val(moment(json.FechaInicio).format("YYYY-MM-DD"));
                    $("#calendarData #F-fin").val(moment(json.FechaFin).format("YYYY-MM-DD"));
                    $("#calendarData #sede-detalle").val(json.SedeId);
                    ChangeSelect($("#calendarData #sede-detalle"), function () {
                        $("#calendarData #evento-detalle").val(json.EventoId);
                        ChangeSelect($("#calendarData #evento-detalle"), function () {
                            $("#calendarData #curso-detalle").val(json.CursoId);
                            $("#Loading").hide();
                        });
                    });


                    for (var i = 0; i < json.Salones.length; i++) {
                        AddSalon();
                        $("#salon-" + (i + 1) + " select").val(json.Salones[i].CapacitadorId);
                        $("#salon-" + (i + 1) + " input").val(json.Salones[i].Cupos);
                        $("#salon-" + (i + 1) + " #Salon-RecordType").html(json.Salones[i].RecordType);
                        $("#salon-" + (i + 1) + " #Salon-RecordStatus").html(json.Salones[i].RecordStatus);
                        $("#salon-" + (i + 1) + " #Salon-SalonId").html(json.Salones[i].SalonId);
                        if (json.Salones[i].EsEliminado == 1)
                            $("#salon-" + (i + 1)).addClass("Suspendido");

                        for (var h = 0; h < json.Salones[i].Clases.length; h++){
                            console.log(json.Salones[i].Clases[h].HoraInicio);
                            AddClase(i + 1);
                            $($("#salon-" + (i + 1) + " table tbody tr")[h]).children("td").children("#HoraInicio").val(moment(json.Salones[i].Clases[h].HoraInicio).format("YYYY-MM-DDTHH:mm"));
                            $($("#salon-" + (i + 1) + " table tbody tr")[h]).children("td").children("#HoraFin").val(moment(json.Salones[i].Clases[h].HoraFin).format("YYYY-MM-DDTHH:mm"));
                            $($("#salon-" + (i + 1) + " table tbody tr")[h]).children("#Clase-RecordType").html(json.Salones[i].Clases[h].RecordType);
                            $($("#salon-" + (i + 1) + " table tbody tr")[h]).children("#Clase-RecordStatus").html(json.Salones[i].Clases[h].RecordStatus);
                            $($("#salon-" + (i + 1) + " table tbody tr")[h]).children("#Clase-ClaseId").html(json.Salones[i].Clases[h].ClaseId);
                            if (json.Salones[i].Clases[h].EsEliminado == 1)
                                $($("#salon-" + (i + 1) + " table tbody tr")[h]).addClass("Suspendido");
                        }
                    }

                },
                error: function (error) {
                    $("#Loading").hide();
                    CloseCursoPannel();
                    console.log(error);
                }
            });
        }

        function NewCalendar(date) {
            $("#calendarData #F-inicio").val(date.format("YYYY-MM-DD"));
            $("#calendarData #F-fin").val(date.format("YYYY-MM-DD"));
            $("#Curso-RecordType").html(1);
            $("#Curso-RecordStatus").html(2);
            $("#Curso-CursoProgramadoId").html(0);
        }

        function OpenCursoPannel() {
            $("#collapse1").animate({ "height": "0px", "padding": "0px 10px" }, 400);
            $("#collapse2").animate({ "height": "0px", "padding": "0px 10px" }, 400);
            setTimeout(function () {
                var height = 10;

                for (i = 0; i < $("#calendarData .row").length; i++) {
                    height = height + $($("#calendarData .row")[i]).height();
                }

                $("#calendarData").animate({ "height": height + "px", "padding": "10px" }, 400);

            }, 200);
            $("#calendarData #F-inicio").val("");
            $("#calendarData #F-fin").val("");
            $("#calendarData #curso-detalle").html("");
            $("#curso-detalle").append($('<option>', {
                value: -1,
                text: "--Todos--"
            }));
            $("#calendarData #evento-detalle").html("");
            $("#evento-detalle").append($('<option>', {
                value: -1,
                text: "--Todos--"
            }));
            $("#calendarData #sede-detalle").val(-1);
            $("#Contenedor-Salones").html("");
        }

        function CloseCursoPannel() {
            $("#calendarData").animate({ "height": "0px", "padding": "0px 10px" }, 400);
            setTimeout(function () {
                var height = 10;

                for (i = 0; i < $("#collapse1 .row").length; i++) {
                    height = height + $($("#collapse1 .row")[i]).height();
                }

                $("#collapse1").animate({ "height": height + "px", "padding": "10px" }, 400);

            }, 200);
            setTimeout(function () {
                var height = 10;

                for (i = 0; i < $("#collapse2 .row").length; i++) {
                    height = height + $($("#collapse2 .row")[i]).height();
                }

                $("#collapse2").animate({ "height": height + "px", "padding": "10px" }, 400);

            }, 200);
        }

        function DeleteCurso() {
            if ($("#Curso-RecordStatus").html() == 2) {
                CloseCursoPannel();
            } else if ($("#Curso-RecordStatus").html() == 1 || $("#Curso-RecordStatus").html() == 3) {

                var data = {
                    RecordType: $("#Curso-RecordType").html(),
                    RecordStatus: 4,
                    CursoProgramadoId: $("#Curso-CursoProgramadoId").html()
                }; 
                SaveData(data);
            }
        }

        function AddSalon() {
            var numero = $("#Contenedor-Salones .salones").length;
            if (numero > 2) {
                alert("No pueden haber más de 3 salones");
            } else {
                $("#Contenedor-Salones").append($("#Salon-Base").html());
                numero++;
                $("#Contenedor-Salones #salon-0").attr("id", "salon-" + numero);
                $($("#salon-" + numero + " tbody tr td")[3]).html("Salón N° " + numero);
                $($("#salon-" + numero + " tbody tr td")[6]).attr("onclick", "AddClase('" + numero + "')");
                $($("#salon-" + numero + " tbody tr td")[7]).attr("onclick", "DeleteSalon('" + numero + "')");
            }
            ResizeCalendarDetail();
        }

        function DeleteSalon(numero) {
            if ($("#salon-" + numero + " #Salon-RecordStatus").html() == 2) {
                var max = $("#Contenedor-Salones .salones").length;
                for (var i = 1; i <= max; i++) {
                    if (i == numero) {
                        $($("#Contenedor-Salones .salones")[i - 1]).remove();
                    }
                    if (i > numero) {
                        $($("#salon-" + i + " tbody tr td")[3]).html("Salón N° " + (i - 1));
                        $($("#salon-" + i + " tbody tr td")[6]).attr("onclick", "AddClase('" + (i - 1) + "')");
                        $($("#salon-" + i + " tbody tr td")[7]).attr("onclick", "DeleteSalon('" + (i - 1) + "')");
                        $("#Contenedor-Salones #salon-" + i).attr("id", "salon-" + (i - 1));
                    }
                }
                ResizeCalendarDetail();
            } else if ($("#salon-" + numero + " #Salon-RecordStatus").html() == 1 || $("#salon-" + numero + " #Salon-RecordStatus").html() == 3){
                $("#salon-" + numero + " #Salon-RecordStatus").html(4);
                $("#salon-" + numero).addClass("Suspendido");
                $($("#salon-" + numero + " tbody tr td")[6]).attr("onclick", "");
                $($("#salon-" + numero + " tbody tr td")[7]).attr("onclick", "");
            }
        }

        function AddClase(numero) {
            var HoraInicio = moment($("#F-inicio").val()).format("YYYY-MM-DD") == "Invalid date" ? moment(new Date()).startOf('day').add(9, "Hour").format("YYYY-MM-DDTHH:mm") : moment($("#F-inicio").val()).add(9, "Hour").format("YYYY-MM-DDTHH:mm");
            var HoraFin = moment($("#F-fin").val()).format("YYYY-MM-DD") == "Invalid date" ? moment(new Date()).startOf('day').add(13, "Hour").format("YYYY-MM-DDTHH:mm") : moment($("#F-fin").val()).add(13, "Hour").format("YYYY-MM-DDTHH:mm");

            for (i = 0; i < $("#Contenedor-Salones #salon-" + numero + " table tbody tr").length; i++) {
                var ini = $($("#Contenedor-Salones #salon-" + numero + " table tbody > tr")[i]).children("td").children("#HoraInicio").val();
                var fin = $($("#Contenedor-Salones #salon-" + numero + " table tbody > tr")[i]).children("td").children("#HoraFin").val();

                HoraInicio = moment(ini).format("YYYY-MM-DDTHH:mm") == "Invalid date" ? HoraInicio : moment(ini).add(1, "day").format("YYYY-MM-DDTHH:mm");
                HoraFin = moment(fin).format("YYYY-MM-DDTHH:mm") == "Invalid date" ? HoraFin : moment(fin).add(1, "day").format("YYYY-MM-DDTHH:mm");
            }

            
            var index = $("#Contenedor-Salones #salon-" + numero + " table tbody tr").length;
            $("#Contenedor-Salones #salon-" + numero + " table tbody").append($("#Clase-Base").html());

            $($("#Contenedor-Salones #salon-" + numero + " table tbody > tr")[index]).children("td").children("#HoraInicio").val(HoraInicio);
            $($("#Contenedor-Salones #salon-" + numero + " table tbody > tr")[index]).children("td").children("#HoraFin").val(HoraFin);

            ResizeCalendarDetail();
        }

        function DeleteClase(padre) {
            if ($(padre).children("#Clase-RecordStatus").html() == 2) {
                $(padre).remove();
                ResizeCalendarDetail();
            } else if ($(padre).children("#Clase-RecordStatus").html() == 1 || $(padre).children("#Clase-RecordStatus").html() == 3) {
                $(padre).children("#Clase-RecordStatus").html(4);
                $(padre).addClass("Suspendido");
                $($(padre).children("td")[5]).attr("onclick", "");
            }
        }

        function ResizeCalendarDetail() {
            setTimeout(function () {
                var height = 10;

                for (i = 0; i < $("#calendarData > .row").length; i++) {
                    height = height + $($("#calendarData > .row")[i]).height();
                }

                $("#calendarData").animate({ "height": height + "px", "padding": "10px" }, 100);;
            });
        }

        function ValidateData() {
            var data = {
                RecordType: $("#Curso-RecordType").html(),
                RecordStatus: $("#Curso-RecordStatus").html(),
                CursoProgramadoId: $("#Curso-CursoProgramadoId").html(),
                SedeId : $("#calendarData #sede-detalle").val(),
                EventoId : $("#calendarData #evento-detalle").val(),
                CursoId : $("#calendarData #curso-detalle").val(),
                FechaInicio : $("#calendarData #F-inicio").val(),
                FechaFin: $("#calendarData #F-fin").val(),
                Salones : new Array()
            };

            for (i = 1; i <= $("#Contenedor-Salones .salones").length; i++){
                var Salon = {
                    RecordType: $("#salon-" + i + " #Salon-RecordType").html(),
                    RecordStatus: $("#salon-" + i + " #Salon-RecordStatus").html(),
                    SalonId: $("#salon-" + i + " #Salon-SalonId").html(),
                    CapacitadorId: $("#Contenedor-Salones #salon-" + i + " select").val(),
                    Cupos: $("#Contenedor-Salones #salon-" + i + " input").val(),
                    Clases: new Array()
                };

                for (z = 0; z < $("#Contenedor-Salones #salon-" + i + " table tbody > tr").length; z++) {
                    var Clase = {
                        RecordType: $($("#salon-" + i + " table tbody tr")[z]).children("Clase-RecordType").html(),
                        RecordStatus: $($("#salon-" + i + " table tbody tr")[z]).children("Clase-RecordStatus").html(),
                        ClaseId: $($("#salon-" + i + " table tbody tr")[z]).children("Clase-ClaseId").html(),
                        HoraInicio: $($("#Contenedor-Salones #salon-" + i + " table tbody > tr")[z]).children("td").children("#HoraInicio").val(),
                        HoraFin: $($("#Contenedor-Salones #salon-" + i + " table tbody > tr")[z]).children("td").children("#HoraFin").val()
                    };

                    Salon.Clases.push(Clase);
                }

                data.Salones.push(Salon);
            }

            SaveData(data);
        }

        function SaveData(data) {
            var width = $(window).width();
            var height = $(window).height();
            $("#Loading").show().css("width", width + "px").css("height", height + "px");
            $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

            $.ajax({
                cache: false,
                dataType: 'json',
                method: 'POST',
                data: { data: JSON.stringify(data) },
                url: '/ProgramacionCursos/SaveData',
                success: function (json) {
                    $("#Loading").hide();
                    if (json == undefined) {
                        alert("sucedió un error al guardar");
                    } else {
                        CloseCursoPannel();
                    }
                },
                error: function (error) {
                    $("#Loading").hide();
                    console.log(error);
                }
            });
        }

        function CursoChanged() {
            if ($("#Curso-RecordStatus").html() == 1)
                $("#Curso-RecordStatus").html(3);
        }

        function SalonChanged(tr) {
            if ($(tr).children("#Salon-RecordStatus").html() == 1)
                $(tr).children("#Salon-RecordStatus").html(3);
        }

        function ClaseChanged(tr) {
            if ($(tr).children("#Clase-RecordStatus").html() == 1)
                $(tr).children("#Clase-RecordStatus").html(3);
        }
    </script>
}