@{
    var base64 = Convert.ToBase64String(@ViewBag.USUARIO.foto);
    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
}
<header class="fixed-top">
    <div class="row align-items-center menu">
        <div class="col-auto align-self-stretch boton-menu ">
            <a href="#" class="bt-menu"><span class="icon-menu icono-menu"></span></a>
        </div>

        <div class="col logo d-none d-md-block">
            <a href="http://alphabusinessc.com/">
                <img src="~/Content/img/logoHeader.png" />
            </a>
        </div>
        <div>
            <nav class="col ">
                <a href="#" class="imagen">  <img src="@imgSrc" width="35" height="35" /></a>
                <a href="#" class="nombre-usuario dropdown-toggle" data-toggle="dropdown">(@ViewBag.USUARIO.Rol) @ViewBag.USUARIO.NombreCompleto</a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <div class="text-center">
                            <a href="@Url.Content("~/salir")" class="btn btn-danger">Salir</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>