@{
    var base64 = @ViewBag.USUARIO.foto == null ? "" : Convert.ToBase64String(@ViewBag.USUARIO.foto);
    var imgSrc = base64 != "" ? String.Format("data:image/jpeg;base64,{0}", base64): "/Content/static/images/foto@default.png";
}
<header class="fixed-top">
    <div class="row align-items-center menu">
        <div class="col-auto align-self-stretch boton-menu ">
            <a href="#" class="bt-menu"><span class="icon-menu icono-menu"></span></a>
        </div>

        <div class="col logo">
            <a href="@Url.Content("~/backoffice")">
                <img src="~/Content/img/logoHeader.png" />
            </a>
        </div>
        <div class="d-none d-lg-block">
            <nav class="col ">
                <a href="#" class="imagen">  <img src="@imgSrc" width="35" height="35" /></a>
                <a href="#" class="nombre-usuario dropdown-toggle" data-toggle="dropdown">(@ViewBag.USUARIO.Rol) @ViewBag.USUARIO.NombreCompleto</a>
                <ul class="dropdown-menu">
                    <li class="user-header " >
                        <div class="text-center">
                            <a href="@Url.Content("~/salir")" class="btn btn-danger">Salir</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> 
        @*<div class="d-md-none d-sm-block mr-2">
            <a href="@Url.Content("~/salir")" style="color:white; font-weight:200; "><i class="icon-logout"></i></a>
        </div>*@
    </div>
</header>