<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObackOffice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("_HeaderPartial")
        <div class="row main">
           
            @Html.Partial("_SideBarPartial")
            
            <main class="col contenido abrir-contenido contenido-wrapper">
                @RenderBody()
            </main>

        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

</body>
</html>
