<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObackOffice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_HeaderPartial")

    <div id="wrapper" class="active">
        @Html.Partial("_SideBarPartial")

        <main class="col contenido">
            @RenderBody()
        </main>

        <footer class=" d-flex justify-content-between">
            <div class="d-none d-md-block">
                <strong>Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank">Riesgos Críticos</a>.</strong>
            </div>
            <div>
                <span>Desarrollado por <a href="https://www.omeganetperu.com/" target="_blank">Omeganetperu</a></span>
            </div>
        </footer>
    </div>
    <script>
        window.url_base = '@Url.Content("~/")';
        window.session_timeout =  @(Session.Timeout * 60 * 1000); //milliseconds

        var IDtemporizador = window.setInterval(function()
        {
            window.session_timeout -= 1000;
            if(window.session_timeout <= 0)
                window.location.href = '@Url.Content("~/adios")';
        }, 1000);
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
    <script src="/Scripts/bootstrap-treeview.js"></script>
</body>
</html>
