

<div class="container-fluid">    
    <table class="table table-hover" id="tabla-empleados">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Nombre Completo</th>
                <th>Tipo Documento</th>
                <th>Nro. Documento</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.EMPLEADOSINSCRITOS != null)
            {
                foreach (var item in ViewBag.EMPLEADOSINSCRITOS)
                {
                <tr id="@item.NombreCompleto.Replace(" ","_")*@item.NroDocumento.Replace(" ","_") ">
                    <td>@item.Empresa</td>
                    <td style=" text-transform:uppercase">@item.NombreCompleto.</td>
                    <td>@item.TipoDocumento</td>
                    <td>@item.NroDocumento</td>
                    <td><a onclick="EliminarInscripcion(@item.EmpleadoCursoId)" href="#"><span class="icon-trash"></span></a></td>
                </tr>
                }

            }
        </tbody>
    </table>  
</div>
