@{
    int Take = 0;
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;
    int Index = 0;

    if (ViewBag.REGISTROS != null)
    {
        Take = ViewBag.REGISTROS.Take;
        Index = ViewBag.REGISTROS.Index;
        Total = ViewBag.REGISTROS.TotalRegistros;
        Primer = ((Index - 1) * Take) + 1;
        Ultimo = Primer + (ViewBag.REGISTROS.Lista.Count - 1);

        Primer = Primer < 0 ? 0 : Primer;
        Ultimo = Ultimo < 0 ? 0 : Ultimo;
    }
    else
    {
        Take = 10;
    }
}

<style>
    .no-padding {
        padding: 0px !important;
    }

    .Taller-Selected span {
        background-color: #adebff;
        font-weight: bolder;
    }

    #table-taller span {
        padding: 10px;
    }
</style>

<div class="container-fluid" style="padding:0px;">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarTabla('table-responsive')"><i class="icon-list-numbered"></i> Listado de Empleados </h3>
        </div>
    </div>
</div>
<div>
    <span class="informacion">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
    <div class="float-lg-right">
        Total de registros:
        <select id="take">
            <option value="10" @(Take == 10 ? "selected" : "")>10</option>
            <option value="25" @(Take == 25 ? "selected" : "")>25</option>
            <option value="50" @(Take == 50 ? "selected" : "")>50</option>
            <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
        </select>
    </div>
</div>
<div class="box box-warning mt-2">
    <div class="table-responsive">
        <table class="table table-hover" id="TablaAExportar">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="hidden-xs hidden-sm hidden-md hidden-lg">Documento</th>
                    <th class="hidden-xs hidden-sm hidden-md">Número</th>
                    <th class="hidden-xs hidden-sm">Sede</th>
                    <th class="hidden-xs">Empresa</th>
                    <th>Curso</th>
                    <th class="hidden-xs hidden-sm">Nota Cuantitativa</th>
                    <th class="hidden-xs">Condición</th>
                    <th>Fecha</th>
                    <th class="hidden-xs hidden-sm hidden-md">Observación</th>
                    <th>Detalle</th>
                    <th>Examen</th>
                    <th>Diploma</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.REGISTROS == null)
                    {
                        <tr><td colspan="13" class="text-center">Error al conectarse al servidor</td></tr>
                    }
                    else if (ViewBag.REGISTROS.Lista.Count == 0)
                    {
                        <tr><td colspan="13" class="text-center">No hay resultados</td></tr>
                    }
                    else
                    {
                        foreach (ObackOffice.Models.ReporteAcademicoList item in ViewBag.REGISTROS.Lista)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td class="hidden-xs hidden-sm hidden-md hidden-lg">@item.TipoDocumento</td>
                                <td class="hidden-xs hidden-sm hidden-md">@item.NroDocumento</td>
                                <td class="hidden-xs hidden-sm">@item.Sede</td>
                                <td class="hidden-xs">@item.Empresa</td>
                                <td>@item.Curso</td>
                                <td class="hidden-xs hidden-sm">@item.Nota</td>
                                <td class="hidden-xs">@item.Condicion</td>
                                <td>@item.InicioCurso.ToString("dd-MMM-yyyy") - @item.FinCurso.ToString("dd-MMM-yyyy")</td>
                                <td class="hidden-xs hidden-sm hidden-md">@item.Observaciones</td>
                                <td onclick="ShowDetail(@item.PersonaId,@item.CursoProgramadoId)"><i class="icon-eye"></i></td>
                                <td onclick="DownloadFile('Examen')"><i class="icon-check"></i></td>
                                <td onclick="DownloadFile('Diploma')"><i class="icon-graduation-cap"></i></td>
                            </tr>
                            <tr>
                                <td id="renderDetail-@item.PersonaId-@item.CursoProgramadoId" colspan="12" style="display:none;" class="no-padding"></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="paginacion-tabla d-flex justify-content-center">
            <div>
                <ul class="pagination">
                    @{ 
                            if(Index > 1)
                            {
                                <li class="page-item" onclick="FiltrarUsuarios(@(Index - 1))">
                                    <span class="page-link" aria-hidden="true">Anterior</span>
                                </li>
                            }
                            int pagina = 0;
                            if(Take > 0)
                            {
                                for(int i = 0; i < Total; i = i + Take)
                                {
                                    pagina++;
                                    <li @(pagina == Index ? "class=pagination-active" : "onclick=FiltrarUsuarios(" + pagina + ")")><span class="page-link" aria-hidden="true">@pagina</span></li>
                                }
                            }
                            if(pagina > Index)
                            {
                                <li class="page-item" onclick="FiltrarUsuarios(@(Index + 1))">
                                    <span class="page-link" aria-hidden="true">Siguiente</span>
                                </li>
                            }
                        }
                </ul>
            </div>
        </div>
    </div>
</div>
