@{
    int Take = 0;
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;
    int Index = 0;
    int MaximasAsistencias = 1;

    if (ViewBag.REGISTROS != null)
    {
        Take = ViewBag.REGISTROS.Take;
        Index = ViewBag.REGISTROS.Index;
        Total = ViewBag.REGISTROS.TotalRegistros;
        Primer = ((Index - 1) * Take) + 1;
        Ultimo = Primer + (ViewBag.REGISTROS.Lista.Count - 1);
        MaximasAsistencias = ViewBag.REGISTROS.MaximasAsistencias == 0 ? 1 : ViewBag.REGISTROS.MaximasAsistencias;

        Primer = Primer < 0 ? 0 : Primer;
        Ultimo = Ultimo < 0 ? 0 : Ultimo;
    }
    else
    {
        Take = 10;
    }
}

    <div class="container-fluid" style="padding:0px;">
        <div class="box box-default mt-2" id="acordion">
            <div class="box-header with-border" id="heading1">
                <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarTabla('table-responsive')"><i class="icon-list-numbered"></i> Listado de Empleados </h3>
            </div>
        </div>
    </div>
    <div>
        <span class="informacion">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
        <div class="float-lg-right">
            Total de registros: 
            <select id="take" onchange="FiltrarUsuarios(1)">
                <option value="10" @(Take == 10 ? "selected" : "")>10</option>
                <option value="25" @(Take == 25 ? "selected" : "")>25</option>
                <option value="50" @(Take == 50 ? "selected" : "")>50</option>
                <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
            </select>
        </div>
    </div>
    <div class="box box-warning mt-2">
        <div class="table-responsive">
            <table class="table table-hover" id="TablaAExportar">
                <thead>
                    <tr>
                        <th colspan="2" class="hidden-sm hidden-md hidden-lg hidden-xl"></th>
                        <th colspan="4" class="hidden-xs hidden-md hidden-lg hidden-xl"></th>
                        <th colspan="5" class="hidden-xs hidden-sm hidden-lg hidden-xl"></th>
                        <th colspan="6" class="hidden-xs hidden-sm hidden-md"></th>
                        <th class="headerOnTop" colspan="@MaximasAsistencias">Asistencias</th>
                    </tr>
                    <tr>
                        <th>Alumno</th>
                        <th class="hidden-xs hidden-sm hidden-md">Tipo Documento</th>
                        <th class="hidden-xs">Nro Documento</th>
                        <th class="hidden-xs hidden-sm">Sede</th>
                        <th>Curso</th>
                        <th class="hidden-xs">Empresa</th>
                        @{
                            for (int i = 1; i <= MaximasAsistencias; i++)
                            {
                                <th class="headerOnTop">A @i</th>
                            }
                        }
                        <th class="hidden-xs hidden-sm">Examen Teórico</th>
                        <th class="hidden-xs hidden-sm">Taller</th>
                        <th>Nota Taller</th>
                        <th>Nota Final</th>
                        <th>Condición</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.REGISTROS == null)
                        {
                            <tr><td colspan="10" class="text-center">Error al conectarse al servidor</td></tr>
                        }
                        else if (ViewBag.REGISTROS.Lista.Count == 0)
                        {
                            <tr><td colspan="10" class="text-center">No hay resultados</td></tr>
                        }
                        else
                        {
                            foreach (ObackOffice.Models.ReporteMultipleList item in ViewBag.REGISTROS.Lista)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td class="hidden-xs hidden-sm hidden-md">@item.TipoDocumento</td>
                                    <td class="hidden-xs">@item.NroDocumento</td>
                                    <td class="hidden-xs hidden-sm">@item.Sede</td>
                                    <td>@item.Curso</td>
                                    <td class="hidden-xs">@item.Empresa</td>
                                    @for (int i = 0; i < MaximasAsistencias; i++)
                                    {
                                        if (item.Asistencia.Count > i)
                                        {
                                            <td>@(item.Asistencia[i])</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    }
                                    <td class="hidden-xs hidden-sm">@item.Nota</td>
                                    <td class="hidden-xs hidden-sm">@item.NotaTaller</td>
                                    <td>@(item.TallerValor.HasValue ? item.TallerValor.Value.ToString() : "")</td>
                                    <td>@item.NotaFinal</td>
                                    <td>@item.Condicion</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="paginacion-tabla d-flex justify-content-center">
                <div>
                    <ul class="pagination">
                        @{ 
                            if(Index > 1)
                            {
                                <li class="page-item" onclick="FiltrarUsuarios(1)">
                                    <span class="page-link" aria-hidden="true">Primero</span>
                                </li>
                                <li class="page-item" onclick="FiltrarUsuarios(@(Index - 1))">
                                    <span class="page-link" aria-hidden="true">Anterior</span>
                                </li>
                            }
                            int pagina = 0;
                            if(Take > 0)
                            {
                                for(int i = 0; i < Total; i = i + Take)
                                {
                                    pagina++;
                                    if((pagina > (Index - 5)) && pagina < (Index + 5))
                                    {
                                        <li @(pagina == Index ? "class=pagination-active" : "onclick=FiltrarUsuarios(" + pagina + ")")><span class="page-link" aria-hidden="true">@pagina</span></li>
                                    }
                                }
                            }
                            if(pagina > Index)
                            {
                                <li class="page-item" onclick="FiltrarUsuarios(@(Index + 1))">
                                    <span class="page-link" aria-hidden="true">Siguiente</span>
                                </li>
                                <li class="page-item" onclick="FiltrarUsuarios(@(pagina))">
                                    <span class="page-link" aria-hidden="true">Ultimo</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>