@{
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;

    if (ViewBag.REGISTROS != null)
    {
        Total = 0; // ViewBag.Usuarios.TotalRegistros;
        Primer = 0; //((ViewBag.Usuarios.Index - 1) * ViewBag.Usuarios.Take) + 1;
        Ultimo = 0; // Primer + (ViewBag.Usuarios.Lista.Count - 1);
    }
}

<style>
    .no-padding{
        padding:0px !important;
    }
    .Taller-Selected span{
        background-color: #adebff;
        font-weight:bolder;
    }
    #table-taller span{
        padding:10px;
    }
</style>

<div>
    <span class="informacion">Mostrando @Primer de @Ultimo de un total de @Total entradas</span>
</div>
<div class="box box-warning mt-2">
    <div class="table-responsive">
        <table class="table table-hover" id="TablaAExportar">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Número</th>
                    <th>Sede</th>
                    <th>Evento</th>
                    <th>Curso</th>
                    <th>Nota</th>
                    <th>Condición</th>
                    <th>Fecha</th>
                    <th>Observación</th>
                    <th>Detalle</th>
                    <th>Examen</th>
                    <th>Diploma</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.REGISTROS == null)
                    {
                        <tr><td colspan="13" class="text-center">Error al conectarse al servidor</td></tr>
                    }
                    else if (ViewBag.REGISTROS.Lista.Count == 0)
                    {
                        <tr><td colspan="13" class="text-center">No hay resultados</td></tr>
                    }
                    else
                    {
                        foreach (ObackOffice.Models.ReporteAcademicoList item in ViewBag.REGISTROS.Lista)
                        {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.TipoDocumento</td>
                            <td>@item.NroDocumento</td>
                            <td>@item.Sede</td>
                            <td>@item.Evento</td>
                            <td>@item.Curso</td>
                            <td>@item.Nota</td>
                            <td>@item.Condicion</td>
                            <td>@item.InicioCurso.ToString("dd-MMM-yyyy") - @item.FinCurso.ToString("dd-MMM-yyyy")</td>
                            <td>@item.Observaciones</td>
                            <td onclick="ShowDetail(@item.PersonaId,@item.CursoProgramadoId)"><i class="icon-eye"></i></td>
                            <td onclick="DownloadFile('Examen')"><i class="icon-check"></i></td>
                            <td onclick="DownloadFile('Diploma')"><i class="icon-graduation-cap"></i></td>
                        </tr>
                        <tr>
                            <td id="renderDetail-@item.PersonaId-@item.CursoProgramadoId" colspan="11" style="display:none;" class="no-padding">
                            </td>
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="paginacion-tabla d-flex justify-content-center">
            <div>
                <ul class="pagination">
                    <li class="page-item">
                        <span class="page-link" aria-hidden="true">Anterior</span>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link">
                            <span aria-hidden="true">Siguiente</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
